{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Museu do Índio Luiza Cantofa</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="shortcut icon" href="{% static 'base/img/logo_real.png' %}" type="image/x-icon">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="{% static 'base/css/style.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet">
</head>

<body>

  <!-- Barra de Navegação com o Bootstrap -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <!-- Logo do Museu -->
      <a class="navbar-brand" href="#">
        <img src="{% static 'base/img/logo_real.png' %}" alt="Logo do Museu" class="logo">
      </a>

      <!-- Botão de toggle (aparece em dispositivos menores) -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links da Navbar -->
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#inicio">Início</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#historia">Histórias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#artefatos">Museu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'usuario_login' %}">Visitar</a>
          </li>
        </ul>
      </div>

      <!-- Botão "Entrar" -->
      <button class="botao-estiloso">
        <a href="{% url 'usuario_login' %}" class="text-white text-decoration-none">Entrar</a>
      </button>
    </div>
  </nav>


  <section class="py-5">
    <!-- Carrossel -->
    <div id="carouselExample" class="carousel slide margem" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'base/img/imagem1.jpg' %}" class="d-block w-100" alt="Imagem 1">
          <div class="carousel-caption d-none d-md-block">
            <h1>Bem-vindo ao Museu Luiza Cantofa</h1>
            <h3>Preservando a cultura indígena de Apodi</h3>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'base/img/imagem2.webp' %}" class="d-block w-100" alt="Imagem 2">
          <div class="carousel-caption d-none d-md-block">
            <h1>Conheça os artefatos históricos</h1>
            <h3>Relíquias preservadas da história indígena</h3>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'base/img/imagem3.jpg' %}" class="d-block w-100" alt="Imagem 3">
          <div class="carousel-caption d-none d-md-block">
            <h1>Conheça os artefatos históricos</h1>
            <h3>Relíquias preservadas da história indígena</h3>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Próximo</span>
      </button>
    </div>
  </section>
  <!-- Seção História Indígena -->
  <section id="historia" class="py-5 bg-light">
    <div class="container">
      <h2 class="text-center color_texto">História Indígena de Apodi</h2>
      <p class="lead text-center">
        Os povos indígenas de Apodi, especialmente os Tapuias Paiacus, têm uma história rica e profundamente conectada à
        região. Originários do grupo Tarairiú, os Tapuias Paiacus habitaram as margens da Lagoa do Apodi, rios e
        chapadas, onde viveram em harmonia com a natureza, praticando agricultura, caça, pesca e o artesanato de
        cerâmica. A cidade de Apodi, inclusive, tem seu nome derivado da palavra indígena "Poty", que significa camarão,
        refletindo a biodiversidade local. Esses povos possuíam crenças animistas e usavam a natureza como fonte de
        vida, com suas práticas de caça e pesca marcando sua interação com o meio ambiente.

        Além dos Tapuias Paiacus, outros grupos indígenas habitaram a região, como os Potiguares, que também
        influenciaram a formação cultural local. Esses povos, com suas tradições e modos de vida, desempenharam papel
        fundamental na história de Apodi, deixando um legado que é preservado até hoje.

        A resistência dos povos indígenas de Apodi, como os Tapuias Paiacus, foi fundamental ao longo dos séculos,
        especialmente diante da chegada dos colonizadores. Apesar de inúmeros desafios, o povo indígena manteve sua
        identidade cultural, passando seus conhecimentos e tradições de geração em geração.

        Hoje, a memória e o legado desses povos são preservados pelo Museu Luiza Cantofa, que homenageia as raízes
        indígenas da cidade e a importância dos Tapuias Paiacus na formação histórica da região.

      </p>
    </div>
  </section>

  <!-- Seção Artefatos -->
  <section id="artefatos" class="py-5">
    <div class="container">
      <h2 class="text-center color_texto">Artefatos Históricos</h2>
      <div class="row mt-4">
        <div class="col-md-4">
          <div class="card">
            <img src="{% static 'base/img/image_card1.jpg' %}" class="card-img-top" alt="Artefato 1">
            <div class="card-body">
              <h5 class="card-title">8 DE MAIO DIA INTENACIONAL DA MULHER</h5>
              <p class="card-text">Além dos Tapuias Paiacus, outros grupos indígenas habitaram a região, como os
                Potiguares, que também
                influenciaram a formação cultural local. Esses povos, com suas tradições e modos de vida, desempenharam
                papel
                fundamental na história de Apodi, deixando um legado que é preservado até hoje.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="{% static 'base/img/image_card2.jpg' %}" class="card-img-top" alt="Artefato 2">
            <div class="card-body">
              <h5 class="card-title">SOMOS POVOS DA CAATINGA</h5>
              <p class="card-text">Nossa Caatinga nordestina tem sido o principal alvo das injustiças causadas pelos
                danos das instalações de parques eólicos e solares em territórios tradicionais indígenas, quilombolas,
                de famílias que sobrevivem da agricultura familiar.
                O desmatamento, a destruição de nossas nascentes de rios, o risco de extinção de espécies de animais
                nativos, a infertilidade das terras para plantio, o barulho das hélices, o pó tóxico produzido por suas
                torres, casas e cisternas rachadas, destruição de sítios arqueológicos, injustiças e abusos nos
                contratos assinados com essas empresas estrangeiras que exploram nossas terras, nosso trabalho como mão
                de obra barata e destrói nossos modos de vida originários, tradicionais.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="{% static 'base/img/image_carde3.jpg' %}" class="card-img-top" alt="Artefato 3">
            <div class="card-body">
              <h5 class="card-title">EU LUTO CONTRA O MARCO TEMPORAL! NÃO A PEC 48!</h5>
              <p class="card-text">Junte-se aos povos indígenas na luta contra a mudança na constituição. A PEC 48 que
                será discutida nesta quarta-feira, 10/07, na Comissão de Constituição e Justiça do Senado propõe
                instaurar definitivamente o marco temporal. Não podemos permitir mais essa violação dos direitos
                indígenas.

                Nosso marco é ancestral. Sempre estivemos aqui!
                E diga ao povo que avance! E nós avançaremos!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <div style="background-color: black; color: white; padding: 20px 10px;">
    <div class="container">
      <div class="row">
        <!-- Informações sobre o Lajedo de Soledade -->
        <div class="col-lg-6 col-md-12 mb-4">
          <h4 style="color: #C6142B;">MUSEU DO ÍNDIO LUIZA CANTOFA</h4>
          <p>
            O Museu do Índio Luiza Cantofa é um espaço cultural dedicado à preservação e valorização da história e das
            tradições dos povos indígenas, especialmente dos Tabajaras Paiacus. Localizado em Apodi, Rio Grande do
            Norte, o museu oferece uma rica coleção de artefatos, documentos e relatos que promovem o reconhecimento e o
            respeito pela cultura indígena na região e no Brasil.
          </p>
          <p>
            <a href="https://wa.me/5584999142282" target="_blank" rel="noopener noreferrer"
              style="color: white; text-decoration: none;">
              <strong>Telefone:</strong> +55 (84) 999142282<br>
            </a>
            <a href="mailto:contato@museuluizacantofa.org.br" target="_blank" rel="noopener noreferrer"
              style="color: white; text-decoration: none;">
              <strong>Email:</strong> contato@museuluizacantofa.org.br<br>
            </a>
            <a href="https://www.instagram.com/museudoindioluizacantofaofc?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
              target="_blank" rel="noopener noreferrer" style="color: white; text-decoration: none;">
              <strong>Instagram:</strong> @museudoindioluizacantofaofc
            </a>
          </p>
        </div>

        <!-- Links úteis -->
        <div class="col-lg-6 col-md-12">
          <h4 style="color: #C6142B;">LINKS ÚTEIS</h4>
          <ul style="list-style: none; padding: 0;">
            <li style="margin-bottom: 10px;">
              <i class="bx bx-chevron-right" style="color: #C6142B;"></i>
              <a href="?/Controlador/index/portugues" style="color: white; text-decoration: none;">INÍCIO</a>
            </li>
            <li style="margin-bottom: 10px;">
              <i class="bx bx-chevron-right" style="color: #C6142B;"></i>
              <a href="?/Controlador/visitar/portugues" style="color: white; text-decoration: none;">HISTÓRIAS</a>
            </li>
            <li style="margin-bottom: 10px;">
              <i class="bx bx-chevron-right" style="color: #C6142B;"></i>
              <a href="?/Controlador/sitio/portugues" style="color: white; text-decoration: none;">MUSEU</a>
            </li>
            <li style="margin-bottom: 10px;">
              <i class="bx bx-chevron-right" style="color: #C6142B;"></i>
              <a href="?/Controlador/museu/portugues" style="color: white; text-decoration: none;">VISITAR</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Barra inferior -->
  <div style="background-color: #C6142B; padding: 5px;"></div>

  <!-- Rodapé -->
  <footer style="text-align: center; background-color: black; color: white; font-size: 15px; padding: 10px;">
    <p>&copy; Site desenvolvido por estudantes do IFRN-Campus Apodi, em parceria com o Museu do Índio Luiza Cantofa</p>
  </footer>


  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>