{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Museu do Índio Luiza Cantofa</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="shortcut icon" href="{% static 'base/img/logo_real.png' %}" type="image/x-icon">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="{% static 'base/css/style.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet">


</head>

<body>

  <!-- Barra de Navegação com o Bootstrap -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <!-- Logo do Museu -->
      <a class="navbar-brand" href="#">
        <img src="{% static 'base/img/logo_real.png' %}" alt="Logo do Museu" class="logo mb-1">
      </a>

      <!-- Botão de toggle (aparece em dispositivos menores) -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links da Navbar -->
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home_page' %}">Início</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'museu' %}">MUSEU</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'acervo' %}">ACERVO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'visitar' %}">VISITAR</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'CHCTPLA' %}">CHCTPLA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'usuario_login' %}" style="text-decoration: underline;">ENTRAR</a>
          </li>
        </ul>
      </div>

      <!-- Ícones de redes sociais -->
      <!-- Ícones de redes sociais -->
      <div class="ms-3 d-flex align-items-center">
        <a href="https://www.instagram.com/museudoindioluizacantofaofc?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
          target="_blank" class="text-dark me-3" style="font-size: 1.5rem;">
          <i class="bi bi-instagram nav-link"></i></a>
        <a href="https://www.facebook.com/luizacantofa/?locale=pt_BR" target="_blank" class="text-dark nav-link"
          style="font-size: 1.5rem;">
          <i class="bi bi-facebook nav-link"></i>
        </a>
      </div>
    </div>
  </nav>

  <main>

    <section id="barnner" class="barnner">
      <div class="container-flex">
        <div class="row banner">
          <div class="col d-flex justify-content-center">
            <img src="{% static 'base/img/13920445_1343884558972942_3129598398391161350_o.jpg' %}"
              class="img-fluid banner-paginas" alt="banner-visitar">
          </div>
        </div>
      </div>
    </section>

    <section id="testimonials" class="testimonials">
      <div class="container">

        <div class="row">

          <div class="col-lg-4">
            <div class="testimonial-item mt-4 mt-lg-0">
              <h3>Dias e Horários</h3>
              <p></p>
              <li>Segunda-Feira à Sexta-Feira:</li>
              08h às 17h<br>
              <p></p>
              <li>Sábado e Domingo:</li>
              Fechado<br>
              <p></p>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="testimonial-item mt-4 mt-lg-0">
              <h3>Preços</h3>
              <ul>
                <li style="text-align: justify;">Visitação ao Museu:</li>
                - Grupos de Escolas Públicas/Privadas: <br> R$ 10,00 (por estudante)
                <p></p>
                - Demais Grupos: <br> R$ 15,00 (por pessoa)
                <p></p>

              </ul>

            </div>
          </div>

          <div class="col-lg-4">
            <div class="testimonial-item mt-4 mt-lg-0">
              <h3>Orientações</h3>
              <li style="text-align: justify;">As visitas devem ser previamente agendadas através do <a
                  href="{% static 'usuario/agendar_visita' %}" style="text-decoration: none; color: green;">link, </a>se
                não possui uma conta, terá que
                ser feita uma para agendamento da visitar.</li><br>
              <li style="text-align: justify;">Perde-se aos visitantes que respeitem o meio ambiente ao entorno do museu
                e não tocar nos objetos
                expostos.</li>
            </div>
          </div>

        </div>

      </div>


    </section>

    <hr class="featurette-divider">

    <section id="visitar" class="visitar">
      <div class="container">

        <div class="row">
          <div class="col-xl-5">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7185.8395754924895!2d-37.8059121!3d-5.6688773!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7baf7a39041a701%3A0x420ce995ba5d6bf2!2sMuseu%20do%20%C3%8Dndio%20Luiza%20Cantofa!5e1!3m2!1spt-BR!2sbr!4v1737290730038!5m2!1spt-BR!2sbr"
              width="450" height="350" style="border:0;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="col-xl-7 pt-4 pt-lg-0 content">
            <h3>Localização</h3>
            <p style="text-align: justify;">
              O Museu do Índio Luiza Cantofa está situado no endereço Sítio Missão I, 1001, na zona rural de Apodi, no
              Rio Grande do Norte. Localizado em um ambiente tranquilo e cercado pela natureza, o museu oferece aos
              visitantes uma experiência imersiva na cultura e história dos povos indígenas Tapuias Paiacus.

              A região de Apodi, rica em tradições e belezas naturais, torna o museu um destino imperdível para quem
              deseja conhecer mais sobre a cultura indígena local. O museu está a poucos quilômetros de Mossoró e a
              cerca de 350 km da capital, Natal, sendo de fácil acesso pela BR-405.

              Venha conhecer e se conectar com a história e as tradições dos povos indígenas no coração de Apodi!
            </p>
          </div>
        </div>

      </div>
    </section>



  </main>

  <!-- Footer -->
  <div style="background-color: #E1E1E1; color: black; padding: 20px 10px;">
    <div class="container">
      <div class="row">
        <!-- Informações sobre o Lajedo de Soledade -->
        <div class="col-lg-6 col-md-12 mb-4">
          <h4 style="color: #C6142B; font-weight: bolder;">MUSEU DO ÍNDIO LUIZA CANTOFA</h4>
          <p>
            O Museu do Índio Luiza Cantofa é um espaço cultural dedicado à preservação e valorização da história e das
            tradições dos povos indígenas, especialmente dos Tabajaras Paiacus. Localizado em Apodi, Rio Grande do
            Norte, o museu oferece uma rica coleção de artefatos, documentos e relatos que promovem o reconhecimento e o
            respeito pela cultura indígena na região e no Brasil.
          </p>
          <p>
            <a href="https://wa.me/5584999142282" target="_blank" rel="noopener noreferrer"
              style="color: black; text-decoration: none;">
              <strong>Telefone:</strong> +55 (84) 999142282<br>
            </a>
            <a href="mailto:contato@museuluizacantofa.org.br" target="_blank" rel="noopener noreferrer"
              style="color: black; text-decoration: none;">
              <strong>Email:</strong> contato@museuluizacantofa.org.br<br>
            </a>
            <a href="https://www.instagram.com/museudoindioluizacantofaofc?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
              target="_blank" rel="noopener noreferrer" style="color: black; text-decoration: none;">
              <strong>Instagram:</strong> @museudoindioluizacantofaofc
            </a>
          </p>
        </div>

        <!-- Links úteis -->
        <div class="col-lg-6 col-md-12">
          <h4 style="color:#C6142B; font-weight: bolder;">LINKS ÚTEIS</h4>
          <ul style="list-style: none; padding: 0;">
            <li style="margin-bottom: 10px;">
              <i class="bx bx-chevron-right" style="color: #C6142B;"></i>
              <a href="{% url 'museu' %}" style="color: black; text-decoration: none;">INÍCIO</a>
            </li>
            <li style="margin-bottom: 10px;">
              <i class="bx bx-chevron-right" style="color: #C6142B;"></i>
              <a href="{% url 'acervo' %}" style="color: black; text-decoration: none;">ACERVO</a>
            </li>
            <li style="margin-bottom: 10px;">
              <i class="bx bx-chevron-right" style="color: #C6142B;"></i>
              <a href="{% url 'visitar' %}" style="color: black; text-decoration: none;">VISITAR</a>
            </li>
            <li style="margin-bottom: 10px;">
              <i class="bx bx-chevron-right" style="color: #C6142B;"></i>
              <a href="{% url 'CHCTPLA' %}" style="color: black; text-decoration: none;">CHCTPLA</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Rodapé -->
  <footer class="footer">
    <p>&copy; Site desenvolvido por estudantes de infornática do IFRN-Campus Apodi</p>
  </footer>



  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>