/* Configurações Gerais */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*-------------------------------------------------------------------------*/

/* cor do fundo do body*/
body {
    background-color: #f8f9fa;
}

/*-------------------------------------------------------------------------*/

/*classes do navbar */
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}

.navbar {
    padding: 1rem 2rem;
    height: 120px;
    background-color: white;
}

.navbar-brand img {
    width: 120px;
    height: auto;
}

.navbar-nav .nav-link {
    font-weight: bold;
    color: #000000 !important;
    margin: 0 15px;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #C6142B !important;
}

.navbar-toggler {
    border: none;
    outline: none;
}

/*-------------------------------------------------------------------------*/

/* Seção do Main */
main {
    background-color: #f8f9fa;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130vh;
}

/*-------------------------------------------------------------------------*/

/* classes do carrossel */
.carousel-caption h1 {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.carousel-caption h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

/*-------------------------------------------------------------------------*/

/* classes do footer */
.footer {
    background-color: #b7b7b7;
    text-align: center;
    color: black;
    font-size: 15px;
    padding: 10px;
}

/*--------------------------------------------------------------------------*/

/* Estilização da seção do rodapé */
.footer-section {
    background-color: #E1E1E1;
    padding: 50px 0;
}

.footer-title {
    color: #C6142B;
    font-weight: bolder;
}

.footer-link {
    color: black;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-icon {
    color: #C6142B;
    margin-right: 10px;
}

/*-------------------------------------------------------------------------*/

/* login Container */
.login-container {
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

/*-------------------------------------------------------------------------*/

/* main cadastro de usuario */
.main-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
    height: 180vh;
}


/*-------------------------------------------------------------------------*/

.main-container-agendavisitar {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
    height: 150vh;

}

/*--------------------------------------------------------------------------*/

/* login Form */
.login-form {
    background-color: #c00;
    padding: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
}


/*--------------------------------------------------------------------------*/

/* cadastro form */
.cadastro-form {
    background-color: #c00;
    padding: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    max-width: 120vh;
    margin: 0 auto;
}

.cadastro-form h2 {
    margin-bottom: 20px;
    font-size: 25px;
    text-align: center;
}


/* botao cadastrar */
.botao_cadastro {
    color: #c00;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    display: block;
    margin: auto;
    margin-top: 30px;
    border: none;
}

/*--------------------------------------------------------------------------*/

/* Estilização do form e input de login/cadastro */

label {
    margin-top: 15px;
    font-weight: bold;
}

input {
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    width: 100%;
}

.esqueceu-senha {
    margin-top: 10px;
    font-size: 12px;
    color: white;
    text-decoration: none;
}

/* botao entrar */
.btn-submit {
    background-color: white;
    color: #c00;
    border: none;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-submit:hover {
    background-color: #f1f1f1;
}

.cadastro {
    margin-top: 10px;
    font-size: 12px;
}

.cadastro a {
    color: white;
    text-decoration: underline;
}

/*--------------------------------------------------------------------------*/

/* Logo Container de cadastro */
.logo-container_cadastro {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.logo-container_cadastro img {
    width: 150px;
}

/*--------------------------------------------------------------------------*/

/* Logo Container de login */
.logo-container {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 150px;
}

.logo-container img {
    width: 200px;
}