/* Reset padrão */
* {
  margin: 0px;
  padding: 0px;
}


nav {
  background-color: #E1E1E1;
  height: 90px;
}


.logo {
  width: 100px;
  /* Tamanho proporcional da logo */
  height: auto;
  /* Preserva as proporções da imagem */
  margin-left: 100px;
  /* Espaçamento entre a logo e os links */
}


.botao-estiloso {
  padding: 10px 30px;
  margin-right: 50px;
  background: linear-gradient(135deg, #d26e6e, #CF3737);
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-radius: 50px;
  /* Deixa as bordas arredondadas */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.botao-estiloso:hover {
  transform: scale(1.1);
  /* Aumenta o botão ao passar o mouse */
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  background: linear-gradient(135deg, #d26e6e, #CF3737);
  /* Troca as cores no hover */
}

.botao-estiloso:active {
  transform: scale(1.05);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar-nav {
  display: flex;
  justify-content: center;
  /* Centraliza os itens horizontalmente */
  align-items: center;
  /* Centraliza os itens verticalmente */
  flex-grow: 1;
  /* Permite que os itens ocupem o espaço central */
}


.nav-link {
  margin: 0 50px;
  /* Espaçamento uniforme entre os links */
  font-weight: 800;
  /* Destaque no texto */
  text-transform: uppercase;
  /* Texto em maiúsculas */
  color: #CF3737;
  /* Cor dos textos */
  text-decoration: none;
  /* Remove o sublinhado dos links */
  transition: color 0.3s ease;
  /* Efeito suave ao passar o mouse */
}

.nav-link:hover {
  color: white;
  /* Cor diferente ao passar o mouse */
}


.color_texto {
  color: #CF3737;
}


footer {
  background-color: rgb(39, 37, 37);
  color: #CF3737;
}

/* Container do formulário */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

/* Logo do formulário */
.logo-form img {
  height: 80px;
  margin-bottom: 10px;
}

/* Caixa do formulário */
.form-box {
  background-color: #c00;
  color: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.form-box h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
}

/* Estilo dos campos */
form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  outline: none;
  color: #333;
}

form input::placeholder {
  color: #bbb;
}

/* Botão de cadastro */
.btn-cadastrar {
  background-color: #fff;
  color: #c00;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}

.btn-cadastrar:hover {
  background-color: #ddd;
}